<div class="justify-content-lg-center px-9">
  <div class="block text-center mb-2">
    <%= image_tag "logo_header.png", class: "block mx-auto w-72 sm:shrink-0" %>
    <h2>Journal of Open Source Software :: Reviewers</h2>
  </div>

  <p class="block text-center text-lg">
  Sign up here if you want to help find potential reviewers for a JOSS review.
  </p>

  <div class="block mx-auto max-w-fit my-12 text-lg">
    <ul class="list-disc">
      <li>
        <%= button_to "Log in with your GitHub user", "/auth/github?reviewer=no", method: :post, data: { turbo: false }, class: "link-styled" %>
      </li>

    </ul>
  </div>
</div>
