<div class="font-medium ">

<%= image_tag "logo_header.png", class: "block mx-auto h-32 sm:mx-0 sm:shrink-0" %>
<p class="text-xl">Reviewers Management System</p>

<%= button_to "Log in with GitHub", "/auth/github", method: :post, data: { turbo: false }, class: "text-slate-500" %>

</div>