<div class="justify-content-lg-center px-9">

<%= image_tag "logo_header.png", class: "block mx-auto h-32 sm:mx-0 sm:shrink-0" %>

<p class="text-slate-500"><%= link_to journal_name, journal_url %></p>
<p class="text-xl">Reviewers Management System</p>

<%= button_to "Log in with GitHub", "/auth/github", method: :post, data: { turbo: false }, class: "mt-5 text-slate-500" %>

</div>