<div class="justify-content-lg-center px-9">
  <p class="my-2 text-lg">Hi <%= current_user.complete_name.presence || "@" + current_user.github %></p>

  <% if current_editor %>
    <%= render partial: "editor_home" %>
  <% elsif current_user.reviewer %>
    <%= render partial: "reviewer_home" %>
  <% else %>
    <p class="my-2">Your current status is: <strong>not available to review</strong>.</p>

    <p class="my-2">
      <%= button_to "Mark me as available to review", profile_path, method: :put, params: {user: {reviewer: true}}, data: { turbo: false }, class: "btn-primary" %>
    </p>
  <% end %>
</div>
