@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-semibold text-5xl pb-5 text-zinc-700;
  }

  h2 {
    @apply font-semibold text-3xl pb-5 text-zinc-700;
  }

  label {
    @apply font-medium;
  }
}

@layer components {

  div.divider { @apply w-full shadow-md h-2 my-4 }

  table.listing {
    @apply border-collapse border border-zinc-400 text-sm w-full;
  }
  table.listing thead {
    @apply bg-indigo-100;
  }
  table.listing th {
    @apply border border-indigo-900 py-3;
  }
  table.listing tbody tr {
    @apply bg-white odd:bg-zinc-100 hover:bg-yellow-100;
  }
  table.listing td {
    @apply px-2 py-2 border border-zinc-300;
  }
  table.listing a {
    @apply text-indigo-600;
  }
  table.listing img {
    @apply inline mr-1;
  }

  .btn-primary {
    @apply py-2 px-4 bg-indigo-600 hover:bg-indigo-700 focus:bg-indigo-500 text-white font-semibold rounded-md shadow focus:outline-none cursor-pointer;
  }
  .btn-danger {
    @apply py-2 px-4 bg-red-600 hover:bg-red-700 focus:bg-red-500 text-white font-semibold rounded-md shadow focus:outline-none cursor-pointer;
  }

  .alert-error {
    @apply bg-red-50 text-red-500 mb-3 p-3 rounded-md border-solid border-2 border-red-400;
  }
  .alert-danger {
    @apply bg-red-100 text-red-700 mb-3 p-3 rounded-md border-solid border-2 border-red-400;
  }
  .alert-warning {
    @apply bg-amber-100 text-amber-700 mb-3 p-3 rounded-md border-solid border-2 border-amber-400;
  }
  .alert-primary {
    @apply bg-emerald-100 text-emerald-700 mb-3 p-3 rounded-md border-solid border-2 border-emerald-400;
  }
  .close {
    @apply relative float-right text-inherit font-bold bg-transparent cursor-pointer;
  }

  .pagination {
    @apply mt-5 text-center w-full;
  }
  .pagination a {
    @apply px-1 text-indigo-600 hover:bg-indigo-100 focus:bg-indigo-200 font-semibold rounded focus:underline cursor-pointer;
  }

  ul.areas-options {
    @apply block absolute;
  }
  ul.areas-options li {
    @apply w-full z-20 p-2 border border-indigo-50 bg-indigo-100 hover:cursor-pointer;
  }
  ul.areas-options li.active {
    @apply bg-indigo-600 text-white;
  }
  span.tag {
    @apply mx-2 p-1.5 my-0.5 bg-indigo-100 rounded block;
  }
  .close-tag {
    @apply text-inherit font-bold bg-transparent cursor-pointer;
  }
  .link-styled {
    @apply text-indigo-700 underline cursor-pointer;
  }
}
